<p>Hello <%= @user.fname %>! </p>

<p>
  The Procurement Sciences platform uses "Multi Factor Authentication" (MFA) to protect your data.
  This is why we occasionally email you a "One Time Password" (OTP) and ask you to use it to complete your sign-in.
</p>

<h4>To complete your sign-in, enter this one time password at the prompt:</h4>

<h3><%= @otp %></h3>

<p>To your success,<br />
Team PSci</p>