Hello!

User Provisioning failed for the following records in the file <%= @file_name %>

<table class="table">
  <thead>
  <tr>
    <th>Row Number</th>
    <th>Failure</th>
  </tr>
  </thead>

  <tbody>
    <% @records.each_with_index do |record, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= @records[index] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

To your success,
Team PSci
