<p>Hello!</>

<p><%= @user.name %> wants to join your “<%= @project.name %>” project team.</p>

<p>Just follow these easy steps:</p>

<ol>
 <li> Click this link to visit your project: <a href="<%= @project_url %>"><%= @project.name %></a></li>
 <li> Then simply select the "Team" submenu and click the plus to add them</li>
</ol>

<p>To your success,<br />
Team PSci</p>